@{
    ViewData["Title"] = "The Joe Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/JoelHilton.jpg" />
    <h2>This is a website that shows all the movies, and some podcasts, that I thoroughly enjoy!</h2>
</div>
